.congrats-text {
    font-family: 'Dancing Script', cursive;
	font-size: 8em;
	color: rgba(255,255,255,1);
	font-weight: 700;
	letter-spacing: 1px;
	position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.congrats-text-small {
    font-family: 'Open Sans', sans-serif;
	font-size:20px;
	color: rgba(255,255,255,1);
	font-weight: 700;
	letter-spacing: 1px;
	position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ed7eb5;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: #b85c89;
}